/* AppComponent's private CSS styles */
h1 {
    margin-bottom: 0;
  }
  nav a {
    font-size: 1rem;
    padding: 0.3rem;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    background-color: grey;
    color: black;
    border-radius: 6px;
  }
  
  nav a:hover {
    color: white;
    background-color: black;
  }
  nav a:active {
    color: blue;
    background-color: black;
  }